DCP.ESB.Schemas/CMSDCF.Table.DCF_IN_MESSAGE_LOG.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.LobServices.OracleDB/2007/03/DCF/Table/DCF_IN_MESSAGE_LOG" elementFormDefault="qualified" targetNamespace="http://Microsoft.LobServices.OracleDB/2007/03/DCF/Table/DCF_IN_MESSAGE_LOG" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">DCF.Table.DCF_IN_MESSAGE_LOG</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="DCF_IN_MESSAGE_LOGRECORDINSERT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ID" nillable="true" type="tns:ID__COMPLEX_TYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="MESG_TYPE" nillable="true" type="tns:MESG_TYPE__COMPLEX_TYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="STATUS" nillable="true" type="tns:STATUS__COMPLEX_TYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="STATUS_TIME" nillable="true" type="tns:STATUS_TIME__COMPLEX_TYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="ERROR_MESG" nillable="true" type="tns:ERROR_MESG__COMPLEX_TYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="DATA_ID" nillable="true" type="tns:DATA_ID__COMPLEX_TYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="ESB_STATUS" nillable="true" type="tns:ESB_STATUS__COMPLEX_TYPE" />
      <xs:element minOccurs="0" maxOccurs="1" name="ESB_STATUS_TIME" nillable="true" type="tns:ESB_STATUS_TIME__COMPLEX_TYPE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DCF_IN_MESSAGE_LOGRECORDINSERT" nillable="true" type="tns:DCF_IN_MESSAGE_LOGRECORDINSERT" />
  <xs:simpleType name="ID__SIMPLE_TYPE">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="20" />
      <xs:fractionDigits value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ID__COMPLEX_TYPE">
    <xs:simpleContent>
      <xs:extension base="tns:ID__SIMPLE_TYPE">
        <xs:attribute name="InlineValue" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MESG_TYPE__SIMPLE_TYPE">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MESG_TYPE__COMPLEX_TYPE">
    <xs:simpleContent>
      <xs:extension base="tns:MESG_TYPE__SIMPLE_TYPE">
        <xs:attribute name="InlineValue" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="STATUS__SIMPLE_TYPE">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="STATUS__COMPLEX_TYPE">
    <xs:simpleContent>
      <xs:extension base="tns:STATUS__SIMPLE_TYPE">
        <xs:attribute name="InlineValue" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="STATUS_TIME__COMPLEX_TYPE">
    <xs:simpleContent>
      <xs:extension base="xs:dateTime">
        <xs:attribute name="InlineValue" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ERROR_MESG__SIMPLE_TYPE">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ERROR_MESG__COMPLEX_TYPE">
    <xs:simpleContent>
      <xs:extension base="tns:ERROR_MESG__SIMPLE_TYPE">
        <xs:attribute name="InlineValue" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="DATA_ID__SIMPLE_TYPE">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="20" />
      <xs:fractionDigits value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DATA_ID__COMPLEX_TYPE">
    <xs:simpleContent>
      <xs:extension base="tns:DATA_ID__SIMPLE_TYPE">
        <xs:attribute name="InlineValue" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ESB_STATUS__SIMPLE_TYPE">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ESB_STATUS__COMPLEX_TYPE">
    <xs:simpleContent>
      <xs:extension base="tns:ESB_STATUS__SIMPLE_TYPE">
        <xs:attribute name="InlineValue" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ESB_STATUS_TIME__COMPLEX_TYPE">
    <xs:simpleContent>
      <xs:extension base="xs:dateTime">
        <xs:attribute name="InlineValue" type="xs:string" use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfDCF_IN_MESSAGE_LOGRECORDINSERT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DCF_IN_MESSAGE_LOGRECORDINSERT" type="tns:DCF_IN_MESSAGE_LOGRECORDINSERT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDCF_IN_MESSAGE_LOGRECORDINSERT" nillable="true" type="tns:ArrayOfDCF_IN_MESSAGE_LOGRECORDINSERT" />
  <xs:element name="Insert">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">http://Microsoft.LobServices.OracleDB/2007/03/DCF/Table/DCF_IN_MESSAGE_LOG/Insert</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RECORDSET" nillable="true" type="tns:ArrayOfDCF_IN_MESSAGE_LOGRECORDINSERT" />
        <xs:element minOccurs="0" maxOccurs="1" name="COLUMN_NAMES" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="QUERY" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">http://Microsoft.LobServices.OracleDB/2007/03/DCF/Table/DCF_IN_MESSAGE_LOG/Insert/response</doc:action>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="InsertResult" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>